<section id="copy-right">
  <div id="load_time_client"></div>
  <div id="load_time_server">Page load time is {{ time }} seconds (server)</div>
  <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>
    С любовью для вас команда <a href="#">H&N SCHOOL</a>
  </div>
</section>