<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>О нас</h4>
        <ul>
          <li><a href="team">наша команда</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>проекты</h4>
        <ul>
          <li><a href="store">магазин</a></li>
          <li><a href="register">регистрация</a></li>
          <li><a href="account">Аккаунт</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Присоединяйся</h4>
        <div class="social-links">
          <a href="https://t.me/LosPiesDescalzos">ТГ</a>
          <a href="https://vk.com/pies_descalzos">ВК</a>
          <a href="https://github.com/LosPiesDescalzos">Git</a>
        </div>
      </div>
      <div class="footer-col">
        <h4>отзывы</h4>
        <ul>
          <li><a href="feedback">оставь отзыв</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>