<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/footer.css">
<script src="js/load_page.js"></script>
<script src="js/active_menu_item.js"></script>

<script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/website.js"></script>
<script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/supertokens.js"></script>
<script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/session.js"></script>
<script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/thirdparty.js"></script>

<!--<script src="js/tokens.js"></script>-->
<script src="js/supertokens-init.js"></script>
<!--<script src="js/handle-google.js"></script>-->

<meta charset="UTF-8">
<title>H&N</title>