<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
  <link rel="stylesheet" href="css/account.css" type="text/css"/>
</head>

<body>

{{>header}}


<main>
  <div class="left">
    <div class="photo"></div>
  </div>
  <div class="right">

<!--    {{#with student}}-->
<!--      <h2>username: {{name}}</h2>-->
<!--      <h2>username: {{last_name}}</h2>-->
<!--      <h2>email: {{email}}</h2>-->
<!--    {{/with}}-->

  </div>
</main>


{{>footer}}


{{>copy_right}}

</body>
</html>