<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="css/table.css">
    <script src="js/active_menu_item.js"></script>
    {{>head}}
</head>
<body>

{{>header}}

<main>
    <table>
        <tr>
            <th>Предметы</th>
            <th>вт</th>
            <th>чт</th>
            <th>пт</th>
        </tr>
        <tr>
            <td>Биология</td>
            <td>ОГЭ</td>
            <td>ЕГЭ</td>
            <td>ОГЭ</td>
        </tr>
        <tr>
            <td>Математика</td>
            <td>ЕГЭ</td>
            <td>Олимпиады</td>
            <td>ОГЭ</td>
        </tr>
    </table>
</main>


{{>footer}}

{{>copy_right}}

</body>
</html>