<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
</head>
<body>

{{>header}}

<main>
  <div class="team-sofa">
   <div class="sofa"></div>
        <div class="text-team">
         <h1 class="h1sofa">Софья Никонова</h1>
         <p>препод по биологии</p>
        </div>
  </div>
  <div class="team-kate">
    <div class="kate"> </div>
    <div class="text-team">
      <h1>Екатерина Жаркова</h1>
      <p>препод по математике</p>
    </div>
  </div>
  <div class="team-mars">
    <div class="mars"> </div>
    <div class="text-team">
      <h1>Марсель Ахметов</h1>
      <p>препод по информатике</p>
    </div>
  </div>
</main>


{{>footer}}

{{>copy_right}}

</body>
</html>